<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>Tell-Me-About-It</title>
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">Dashboard</a></li>
            <li><a href="../../public/js/login.js">Login</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </nav>

    <header>
        <h1>Tell Me About It</h1>
    </header>

    <main>

    </main>
    <script src="../../public/js/logout.js"></script>
</body>

</html>