<h1>Hello World</h1>
{{#each posts}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{post_title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{User.username}}</h6>
        <p class="card-text">{{post_body}}</p>
        <a href="/post/{{id}}" class="card-link">See Post</a>
    </div>
</div>
{{/each}}