<div class="signup-card">
    <h2 class="card-header">Sign Up</h2>
    <form class="form signup-form">
        <div class="form-group">
            <label for="username-signup">Username:</label>
            <input type="text" class="form-input" id="username-signup" placeholder="Enter Username"/>
        </div>

        <div class="form-group">
            <label for="email-signup">Email:</label>
            <input class="form-input" type="text" id="email-signup" placeholder="Enter Password"/>
        </div>

        <div class="form-group">
            <label for="password-signup">Password:</label>
            <input class="form-input" type="password" id="password-signup" placeholder="Enter Password"/>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>